@import "tailwindcss";

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./assets/fonts/CormorantGaramond-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* ── FUENTES DEL SITIO ───────────────────────── */
@theme {
  /* Fuente general para todo el sitio */
  --font-sans: 'Poppins', sans-serif;

  /* Fuente secundaria para resaltar títulos y cursivas */
  --font-serif: 'Cormorant Garamond', serif;
}

body {
  font-family: var(--font-sans);
  background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 200px, #BFBFBF 1000px, #BFBFBF 100%);
  min-height: 100vh;
  margin: 0;
}